/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  /* border: 1px solid red;x */
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  position: relative;
  height: 100vh;
  background-color: #202c59;
  color: #FFF;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.results {
  display: flex;
  flex-direction: column;
}

.weather-container {
  display: flex;
  justify-content: space-between;
}

.weather {
  display: flex;
  /* width: 30%; */
  flex-direction: column;
}

.temperature {
  font-size: 4rem;
  margin: 0;
}

.condition, .range, .description {
  margin: 0;
}

button {
  color: #FFF;
  background-color: #ff8552;
  border: 1px solid #ff8552;
  border-radius: 5px;
  /* font-size: 21px; */
}
img {
  width: 100%;
}

footer {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
